/* Elzo Forms CSS variables start */ 

:root { 
	--elzo-forms-primary-color: #0073aa;
	--elzo-forms-primary-color-dark: #0070A6;
	--elzo-forms-primary-color-hover: #1A81B3;
	--elzo-forms-primary-color-50: rgba(0,115,170,0.5);
	--elzo-forms-primary-color-25: rgba(0,115,170,0.25);
	--elzo-forms-primary-text-color: #ffffff;
	--elzo-forms-error-color: #dc3545;
	--elzo-forms-error-color-light: #FCEBEC;
	--elzo-forms-error-color-50: rgba(220,53,69,0.5);
	--elzo-forms-error-color-25: rgba(220,53,69,0.25);
	--elzo-forms-success-color: #0073aa;
	--elzo-forms-success-color-light: #E6F1F7;
	--elzo-forms-light-color: #f1f1f1;
	--elzo-forms-input-border-color: #cccccc;
	--elzo-forms-input-text-color: #000000;
	--elzo-forms-input-background-color: #ffffff;
	--elzo-forms-floating-background-color: #ffffff;
	--elzo-forms-floating-background-color-hover: #EEEEEE;
	--elzo-forms-floating-text-color: #000000;
	--elzo-forms-input-border-width: 1px;
	--elzo-forms-input-border-width-05: 1px;
	--elzo-forms-input-border-radius: 4px;
	--elzo-forms-input-border-radius-05: 2px;
	--elzo-forms-input-font-size: 16px;
}

/* Elzo Forms CSS variables end */

.elzo-forms-step-title-wrapper {
    margin-bottom: 1.5rem;
}

.elzo-forms-step-title {
    margin-top: 0;
    margin-bottom: 0;
}

.elzo-forms-field-wrapper {
    margin-bottom: 1rem;
}

.elzo-forms-field-label-wrapper {
    margin-bottom: 10px;
}

.elzo-forms-field-label {
    display: inline-block;
    margin: 0;
    font-weight: bold;
}

.elzo-forms-field-input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.elzo-forms-field-input-group .elzo-forms-field-control {
    flex: 1;
}

.elzo-forms-field-input-group .elzo-forms-field-control,
.elzo-forms-field-input-group .elzo-forms-field-prepend,
.elzo-forms-field-input-group .elzo-forms-field-append {
    position: relative;
    z-index: 2;
}

.elzo-forms-field-input-group .elzo-forms-field-control,
.elzo-forms-field-input-group .elzo-forms-field-control.invalid,
.elzo-forms-field-input-group .elzo-forms-field-control:hover,
.elzo-forms-field-input-group .elzo-forms-field-control:focus {
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
}

.elzo-forms-input-group-pseudo-border {
    position: absolute;
    border-style: solid;
    border-color: transparent;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 1;
}

.elzo-forms-field-prepend,
.elzo-forms-field-append,
.elzo-forms-field-control {
    padding: 14px;
    font-size: 1rem;
    border-style: solid;
    border-color: transparent;
    line-height: 1.5;
}

.elzo-forms-field-textarea {
    resize: vertical;
    min-height: 100px;
}

.elzo-forms-input-style-border-bottom .elzo-forms-input-group-pseudo-border,
.elzo-forms-input-style-border-bottom .elzo-forms-field-prepend,
.elzo-forms-input-style-border-bottom .elzo-forms-field-append,
.elzo-forms-input-style-border-bottom .elzo-forms-field-control {
    border-top: none;
    border-right: none;
    border-left: none;
}

.elzo-forms-input-style-without-border .elzo-forms-input-group-pseudo-border,
.elzo-forms-input-style-without-border .elzo-forms-field-prepend,
.elzo-forms-input-style-without-border .elzo-forms-field-append,
.elzo-forms-input-style-without-border .elzo-forms-field-control {
    border: none;
}

.elzo-forms-field-prepend,
.elzo-forms-field-append {
    user-select: none;
    opacity: 0.75;
    margin: 0;
}

.elzo-forms-field-prepend {
    padding-right: 0;
}

.elzo-forms-field-append {
    padding-left: 0;
}

.elzo-forms-field-control {
    width: 100%;
    box-sizing: border-box;
}

.elzo-forms-field-control:focus {
    outline: none;
}

.elzo-forms-field-multiple-select-facade {
    padding: 0 5px;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.elzo-forms-custom-select-facade-item {
    display: inline-block;
    padding: 8px 12px 9px 12px;
    margin: 8px 4px;
    border: none;
    position: relative;
    z-index: 2;
}

.elzo-forms-custom-select-facade-item:hover {
    cursor: pointer;
}

.elzo-forms-custom-select-facade-item:focus {
    outline: none;
}

.elzo-forms-custom-select-facade-input {
    pointer-events: none;
}

.elzo-forms-custom-dropdown-wrapper {
    position: relative;
}

.elzo-forms-custom-dropdown {
    opacity: 0;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #f9f9f9;
    z-index: 1;
    box-sizing: border-box;
}

.elzo-forms-custom-dropdown.active {
    top: 100%;
    margin-top: 5px;
    height: auto;
    opacity: 1;
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    z-index: 3;
}

.elzo-forms-custom-dropdown:not(.active) .elzo-forms-custom-dropdown-items,
.elzo-forms-custom-dropdown.active .elzo-forms-custom-dropdown-toggler {
    display: none;
}

.elzo-forms-custom-dropdown-toggler,
.elzo-forms-custom-dropdown-search-input {
    width: 100%;
}

.elzo-forms-custom-dropdown-toggler {
    height: 3.65em;
    padding: 14px 0;
}

.elzo-forms-custom-dropdown-search-input {
    padding: 14px 16px;
    border: none;
    border-bottom: 1px solid #bbb;
    border-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-sizing: border-box;
}

.elzo-forms-custom-dropdown-search-input:focus {
    outline: none;
}

.elzo-forms-custom-dropdown-items {
    padding: 5px 5px 0 5px;
}

.elzo-forms-custom-dropdown-item {
    display: block;
    width: 100%;
    font-size: 16px;
    text-align: left;
    background-color: transparent;
    padding: 8px 10px;
    border: none;
    margin-bottom: 5px;
    color: #000;
}

.elzo-forms-custom-dropdown-item:not(:disabled):focus,
.elzo-forms-custom-dropdown-item:not(:disabled):hover {
    cursor: pointer;
    outline: none;
}

.elzo-forms-field-select {
    color: #000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.elzo-forms-field-select::-ms-expand {
    display: none;
}

.elzo-forms-select-wrapper {
    position: relative;
}

.elzo-forms-select-wrapper:after {
    content: "";
    display: block;
    width: 0.325em;
    height: 0.325em;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -0.1em;
    z-index: 2;
    pointer-events: none;
    transform: translateY(-50%) rotate(45deg);
}

.elzo-forms-button {
    width: 100%;
    padding: 17px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    text-align: center;
    text-align-last: center;
}

.elzo-forms-button:focus {
    outline: none;
}

.elzo-forms-field-under-label {
    font-size: 0.825em;
}

.elzo-forms-field-under-field {
    font-size: 0.825em;
    margin-top: 0.45rem;
}

.elzo-forms-field-options-layout-inline {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -0.5em;
}

.elzo-forms-field-options-layout-inline > * {
    margin-right: 1em;
    margin-bottom: 0.5em;
}

.elzo-forms-field-options-layout-vertical > * {
    margin-bottom: 0.5em;
}

.elzo-forms-field-options-layout-two-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5em;
}

/* CHECKBOX AND RADIO */

.elzo-forms-field-radio,
.elzo-forms-field-checkbox {
    width: 0; height: 0; margin: 0; padding: 0; opacity: 0; position: absolute;
}

.elzo-forms-field-radio + label,
.elzo-forms-field-checkbox + label {
    cursor: pointer;
    user-select: none;
}

.elzo-forms-field-radio + label .elzo-forms-pseudo-radio,
.elzo-forms-field-checkbox + label .elzo-forms-pseudo-checkbox {
    position: relative;
    display: block;
    flex: none;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    border-style: solid;
    cursor: pointer;
}

.elzo-forms-field-radio + label:hover .elzo-forms-pseudo-radio,
.elzo-forms-field-checkbox + label:hover .elzo-forms-pseudo-checkbox {
    opacity: 0.8;
}

.elzo-forms-field-radio:checked + label .elzo-forms-pseudo-radio:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.5em;
    height: 0.5em;
    border-radius: 99rem;
    transform: translate3d(-50%,-50%,0);
}

.elzo-forms-field-checkbox:checked + label .elzo-forms-pseudo-checkbox:before {
    content: "";
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    box-sizing: content-box;
    width: 0.6em;
    height: 0.3em;
    border-bottom: 0.175em solid transparent;
    border-left: 0.175em solid transparent;
    transform: translate3d(-50%,-50%,0) rotate(-45deg);
}

.elzo-forms-field-radio + label .elzo-forms-pseudo-radio {
    border-radius: 99rem !important;
}

.elzo-forms-checkbox-style-toggler .elzo-forms-field-checkbox + label .elzo-forms-pseudo-checkbox {
    background-image: none;
    width: 1.825em;
    border-radius: 99rem;
}

.elzo-forms-checkbox-style-toggler .elzo-forms-field-checkbox + label .elzo-forms-pseudo-checkbox:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0.15em;
    box-sizing: content-box;
    width: 0.7em;
    height: 0.7em;
    margin: 0;
    border-radius: 99rem;
    transform: translate3d(0,-50%,0);
    transition: transform 0.15s;
}

.elzo-forms-checkbox-style-toggler .elzo-forms-field-checkbox:checked + label .elzo-forms-pseudo-checkbox:before {
    border: none;
    transform: translate3d(0.825em,-50%,0);
}

.elzo-forms-radio-item-wrapper label,
.elzo-forms-checkbox-item-wrapper label {
    display: flex;
    align-items: flex-start;
}

.elzo-forms-pseudo-radio-wrapper,
.elzo-forms-pseudo-checkbox-wrapper {
    display: flex;
    flex: none;
    align-items: center;
    height: 1em;
    height: 1lh;
    line-height: inherit;
}

.elzo-forms-label-text-wrapper {
    margin-top: -0.0825em;
    margin-left: 0.25em;
}

.elzo-forms-label-heading {
    display: block;
    font-weight: bold;
}

.elzo-forms-label-description {
    display: block;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    font-size: 0.825em;
    line-height: 1.5;
}

/* GRID */

.elzo-forms-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.elzo-forms-column {
    flex: 0 0 auto;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    width: 100%;
}

.elzo-forms-row-2-cols .elzo-forms-column,
.elzo-forms-column-6 {
    width: 50%;
}

.elzo-forms-row-3-cols .elzo-forms-column,
.elzo-forms-column-4 {
    width: 33.333333%;
}

.elzo-forms-row-4-cols .elzo-forms-column,
.elzo-forms-column-3 {
    width: 25%;
}

.elzo-forms-row-auto-cols .elzo-forms-column,
.elzo-forms-column-auto {
    width: auto;
}

@media(min-width: 576px) {
    .elzo-forms-row-sm-mb .elzo-forms-column {
        margin-bottom: 1.25rem;
    }

    .elzo-forms-row-sm-2-cols .elzo-forms-column,
    .elzo-forms-column-sm-6 {
        width: 50%;
    }

    .elzo-forms-row-sm-3-cols .elzo-forms-column,
    .elzo-forms-column-sm-4 {
        width: 33.333333%;
    }

    .elzo-forms-row-sm-4-cols .elzo-forms-column,
    .elzo-forms-column-sm-3 {
        width: 25%;
    }

    .elzo-forms-row-sm-auto-cols .elzo-forms-column,
    .elzo-forms-column-sm-auto {
        width: auto;
    }
}

@media(min-width: 768px) {
    .elzo-forms-row-md-mb .elzo-forms-column {
        margin-bottom: 1.25rem;
    }

    .elzo-forms-row-md-2-cols .elzo-forms-column,
    .elzo-forms-column-md-6 {
        width: 50%;
    }

    .elzo-forms-row-md-3-cols .elzo-forms-column,
    .elzo-forms-column-md-4 {
        width: 33.333333%;
    }

    .elzo-forms-row-md-4-cols .elzo-forms-column,
    .elzo-forms-column-md-3 {
        width: 25%;
    }

    .elzo-forms-row-md-auto-cols .elzo-forms-column,
    .elzo-forms-column-md-auto {
        width: auto;
    }
}

@media(min-width: 992px) {
    .elzo-forms-row-lg-mb .elzo-forms-column {
        margin-bottom: 1.25rem;
    }

    .elzo-forms-row-lg-2-cols .elzo-forms-column,
    .elzo-forms-column-lg-6 {
        width: 50%;
    }

    .elzo-forms-row-lg-3-cols .elzo-forms-column,
    .elzo-forms-column-lg-4 {
        width: 33.333333%;
    }

    .elzo-forms-row-lg-4-cols .elzo-forms-column,
    .elzo-forms-column-lg-3 {
        width: 25%;
    }

    .elzo-forms-row-lg-auto-cols .elzo-forms-column,
    .elzo-forms-column-lg-auto {
        width: auto;
    }
}

@media(min-width: 1200px) {
    .elzo-forms-row-xl-mb .elzo-forms-column {
        margin-bottom: 1.25rem;
    }

    .elzo-forms-row-xl-2-cols .elzo-forms-column,
    .elzo-forms-column-xl-6 {
        width: 50%;
    }

    .elzo-forms-row-xl-3-cols .elzo-forms-column,
    .elzo-forms-column-xl-4 {
        width: 33.333333%;
    }

    .elzo-forms-row-xl-4-cols .elzo-forms-column,
    .elzo-forms-column-xl-3 {
        width: 25%;
    }

    .elzo-forms-row-xl-auto-cols .elzo-forms-column,
    .elzo-forms-column-xl-auto {
        width: auto;
    }
}

@media(min-width: 1400px) {
    .elzo-forms-row-xxl-mb .elzo-forms-column {
        margin-bottom: 1.25rem;
    }

    .elzo-forms-row-xxl-2-cols .elzo-forms-column,
    .elzo-forms-column-xxl-6 {
        width: 50%;
    }

    .elzo-forms-row-xxl-3-cols .elzo-forms-column,
    .elzo-forms-column-xxl-4 {
        width: 33.333333%;
    }

    .elzo-forms-row-xxl-4-cols .elzo-forms-column,
    .elzo-forms-column-xxl-3 {
        width: 25%;
    }

    .elzo-forms-row-xxl-auto-cols .elzo-forms-column,
    .elzo-forms-column-xxl-auto {
        width: auto;
    }
}

.elzo-forms-text-825 {
    font-size: 0.825em;
}

.elzo-forms-flex-1 {
    flex: 1;
}

.elzo-forms-w-100 {
    width: 100%;
}

.elzo-forms-d-flex {
    display: flex;
}

.elzo-forms-flex-column {
    flex-direction: column;
}

.elzo-forms-justify-content-between {
    justify-content: space-between;
}

.elzo-forms-align-items-center {
    align-items: center;
}

.elzo-forms-inline-block {
    display: inline-block;
}

.elzo-forms-point-events-none {
    pointer-events: none;
}

.elzo-forms-admin-bar {
    position: relative;
}

/* RANGE SLIDER */

.elzo-forms-range-slider {
    position: relative;
    height: 0.625rem;
    margin-bottom: 0.825rem;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

.elzo-forms-range-slider-progress {
    position: absolute;
    top: 0;
    height: 100%;
    border-radius: 0.25rem;
    z-index: 1;
}

.elzo-forms-range-slider input[type="range"] {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    outline: none;
    z-index: 2;
}

.elzo-forms-range-type-range_2 input[type="range"] {
    pointer-events: none;
}

.elzo-forms-range-slider input::-moz-range-thumb {
    pointer-events: all;
    cursor: col-resize;
    position: relative;
    z-index: 2;
    border: none;
    border-radius: 0.25rem;
    box-shadow: none;
    box-sizing: border-box;
    width: 1rem;
    height: 1rem;
}

.elzo-forms-range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    cursor: col-resize;
    position: relative;
    z-index: 2;
    border: none;
    border-radius: 0.25rem;
    box-shadow: none;
    box-sizing: border-box;
    width: 1rem;
    height: 1rem;
    -webkit-appearance: none;
    appearance: none;
}

.elzo-forms-range-slider-header {
    padding-left: 0.325rem;
    padding-right: 0.325rem;
    margin-bottom: 0.5rem;
    font-size: 0.625em;
    opacity: 0.5;
    user-select: none;
}

.elzo-forms-range-slider-header span {
    min-width: 25px;
    text-align: center;
}

.elzo-forms-range-slider-header span:first-child {
    text-align: left;
}

.elzo-forms-range-slider-header span:last-child {
    text-align: right;
}

.elzo-forms-range-slider-footer input::-webkit-outer-spin-button,
.elzo-forms-range-slider-footer input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.elzo-forms-range-slider-footer input {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* MODAL */

.elzo-forms-modal-backdrop {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    transition: 0.25s opacity;
}

.elzo-forms-modal-backdrop.active {
    opacity: 1;
}

.elzo-forms-modal {
    width: 90%;
    max-width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.elzo-forms-modal-content {
    font-size: 1rem;
    background-color: #fff;
    color: #000;
    padding: 2rem;
    opacity: 0;
    transform: translateY(15px);
    transition: 0.25s;
}

.elzo-forms-modal-buttons {
    margin-top: 0.625rem;
}

.elzo-forms-modal.active .elzo-forms-modal-content {
    opacity: 1;
    transform: translateY(0);
}

/* FILE UPLOAD */

.elzo-forms-file-upload-input {
    display: block !important;
    position: absolute;
    width: 0; height: 0;
    opacity: 0;
}

.elzo-forms-file-drop-area {
    display: block;
}

.elzo-forms-file-drop-area-style-drag-and-drop {
    border-style: dashed;
    padding: 20px;
    text-align: center;
}

.elzo-forms-file-upload-input:hover + .elzo-forms-file-drop-area-button,
.elzo-forms-file-drop-area-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.elzo-forms-file-drop-area-previews {
    margin-top: 20px;
}

.elzo-forms-file-drop-area-previews progress {
    width: 100%;
    margin-top: 10px;
}

.elzo-forms-file-drop-area-text,
.elzo-forms-file-drop-area-sub-text {
    margin-bottom: 15px;
}

.elzo-forms-file-drop-area-sub-text {
    display: block;
    margin-bottom: 10px;
    margin-top: -10px;
}

.elzo-forms-file-drop-area-button {
    display: inline-block;
    border-style: solid;
    padding: 7px 14px;
}

.elzo-forms-file-drop-area-upload-list-item {
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
}

.elzo-forms-file-drop-area-upload-list-item-name-box,
.elzo-forms-file-drop-area-upload-list-item-thumbnail {
    padding-right: 10px;
}

.elzo-forms-file-drop-area-upload-list-item-thumbnail > * {
    border-radius: 5px;
}

.elzo-forms-file-drop-area-upload-list-item-progress-percentage {
    padding-left: 10px;
    min-width: 40px;
    text-align: right;
}

.elzo-forms-file-drop-area-upload-list-item-progress {
    height: 6px;
    border-radius: 99rem;
    background-color: rgba(0,0,0,0.1);
}

.elzo-forms-file-drop-area-upload-list-item-progress-bar {
    height: 100%;
    border-radius: 99rem;
    transition: 0.3s width;
}

.elzo-forms-file-drop-area-upload-list-item-remove {
    border: none;
    background-color: transparent;
    font-size: 1.125em;
    line-height: 1;
    cursor: pointer;
}

/* TOOLTIP */

.elzo-forms-tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    display: none;
    z-index: 1000;
}

.elzo-forms-tooltip::after {
    content: "";
    position: absolute;
    top: 95%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

/* ALERT */

.elzo-forms-alert {
    border-left: 4px solid transparent;
    position: relative;
    background-color: #f5f5f5;
    padding: 20px 40px 20px 20px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.elzo-forms-alert-close {
    position: absolute;
    top: 0;
    right: 0;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>') center center no-repeat;
    background-size: 1.5em;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s transform;
}

.elzo-forms-alert-close:hover {
    transform: rotate(90deg);
}

/* ADMIN */

.elzo-forms-edit-form {
    position: absolute;
    right: 0; top: 0;
    display: inline-block;
    background-color: var(--elzo-forms-primary-color);
    color: var(--elzo-forms-primary-text-color);
    text-decoration: none;
    padding: 0.325rem 0.825rem;
    font-size: 14px;
    z-index: 3;
}

.elzo-forms-edit-form:hover {
    background-color: var(--elzo-forms-primary-color-hover);
    color: var(--elzo-forms-primary-text-color);
    text-decoration: none;
}

/* Elzo Forms theme start */

.elzo-forms-input-group-pseudo-border {
    border-width: var(--elzo-forms-input-border-width);
    border-color: var(--elzo-forms-input-border-color);
    border-radius: var(--elzo-forms-input-border-radius);
    background-color: var(--elzo-forms-input-background-color);
}

.elzo-forms-field-control:hover,
.elzo-forms-field-control:hover + .elzo-forms-input-group-pseudo-border {
    border-color: var(--elzo-forms-input-border-color);
}

.elzo-forms-field-control:focus + .elzo-forms-input-group-pseudo-border {
    border-color: var(--elzo-forms-primary-color);
}

.elzo-forms-field-prepend,
.elzo-forms-field-append,
.elzo-forms-field-control {
    border-width: var(--elzo-forms-input-border-width);
    color: var(--elzo-forms-input-text-color);
}

.elzo-forms-file-drop-area-style-drag-and-drop.invalid .elzo-forms-file-drop-area-button,
.elzo-forms-field-radio.invalid + label .elzo-forms-pseudo-radio,
.elzo-forms-field-checkbox.invalid + label .elzo-forms-pseudo-checkbox,
.elzo-forms-field-control.invalid + .elzo-forms-input-group-pseudo-border,
.elzo-forms-field-control.invalid + .elzo-forms-custom-select-facade-wrapper > .elzo-forms-custom-select-facade-input,
.elzo-forms-field-control.invalid {
    border-color: var(--elzo-forms-error-color);
    box-shadow: 0 0 0 0.2em var(--elzo-forms-error-color-25);
}

.elzo-forms-field-radio + label .elzo-forms-pseudo-radio,
.elzo-forms-field-checkbox + label .elzo-forms-pseudo-checkbox {
    border-width: var(--elzo-forms-input-border-width);
    border-color: var(--elzo-forms-input-border-color);
    border-radius: var(--elzo-forms-input-border-radius-05);
    background-color: var(--elzo-forms-input-background-color);
}

.elzo-forms-field-control {
    background-color: var(--elzo-forms-input-background-color);
    border-color: var(--elzo-forms-input-border-color);
    border-radius: var(--elzo-forms-input-border-radius);
}

.elzo-forms-custom-dropdown {
    background-color: var(--elzo-forms-floating-background-color);
    border-color: var(--elzo-forms-floating-background-color-hover);
}

.elzo-forms-custom-dropdown-search-input {
    font-size: var(--elzo-forms-input-font-size);
    background-color: var(--elzo-forms-floating-background-color);
    color: var(--elzo-forms-floating-text-color);
    border-color: var(--elzo-forms-floating-background-color-hover);
}

.elzo-forms-custom-dropdown.active + .elzo-forms-custom-select-facade + .elzo-forms-field-control,
.elzo-forms-custom-dropdown.active + .elzo-forms-custom-select-facade,
.elzo-forms-custom-dropdown.active + .elzo-forms-field-control,
.elzo-forms-custom-dropdown-search-input:focus,
.elzo-forms-field-control:focus {
    border-color: var(--elzo-forms-primary-color);
}

.elzo-forms-custom-select-facade-item {
    border-radius: var(--elzo-forms-input-border-radius-05);
    background-color: var(--elzo-forms-primary-color);
    color: var(--elzo-forms-primary-text-color);
}

.elzo-forms-custom-select-facade-item:focus,
.elzo-forms-custom-select-facade-item:hover {
    background-color: var(--elzo-forms-primary-color-hover);
}

.elzo-forms-custom-dropdown,
.elzo-forms-file-drop-area-upload-list-item,
.elzo-forms-custom-dropdown-item {
    border-radius: var(--elzo-forms-input-border-radius-05);
}

.elzo-forms-custom-dropdown-item {
    color: var(--elzo-forms-floating-text-color);
}

.elzo-forms-custom-dropdown-item:not(:disabled).active {
    background-color: var(--elzo-forms-primary-color);
    color: var(--elzo-forms-primary-text-color);
}

.elzo-forms-custom-dropdown-item:not(:disabled).active:focus {
    background-color: var(--elzo-forms-primary-color-dark);
}

.elzo-forms-button {
    border-radius: var(--elzo-forms-input-border-radius);
    background-color: var(--elzo-forms-primary-color);
    color: var(--elzo-forms-primary-text-color);
}

.elzo-forms-field-radio:checked + label .elzo-forms-pseudo-radio,
.elzo-forms-field-checkbox:checked + label .elzo-forms-pseudo-checkbox {
    background-color: var(--elzo-forms-primary-color);
    border-color: var(--elzo-forms-primary-color);
}

.elzo-forms-checkbox-style-toggler .elzo-forms-field-checkbox + label .elzo-forms-pseudo-checkbox:before {
    background-color: var(--elzo-forms-input-border-color);
}

.elzo-forms-range-slider-progress {
    background-color: var(--elzo-forms-primary-color);
}

.elzo-forms-range-slider input::-moz-range-thumb {
    background-color: var(--elzo-forms-primary-color);
    border-radius: var(--elzo-forms-input-border-radius-05);
}

.elzo-forms-range-slider input::-webkit-slider-thumb {
    background-color: var(--elzo-forms-primary-color);
    border-radius: var(--elzo-forms-input-border-radius-05);
}

.elzo-forms-button:hover {
    background-color: var(--elzo-forms-primary-color-hover);
}

.elzo-forms-range-slider,
.elzo-forms-range-slider-progress,
.elzo-forms-modal-content {
    border-radius: var(--elzo-forms-input-border-radius);
}

.elzo-forms-file-drop-area-style-drag-and-drop {
    border-color: var(--elzo-forms-input-border-color);
    border-radius: var(--elzo-forms-input-border-radius);
}

.elzo-forms-file-drop-area-style-drag-and-drop.invalid {
    border-color: var(--elzo-forms-error-color);
}

.elzo-forms-file-drop-area.highlight {
    border-color: var(--elzo-forms-primary-color);
}

.elzo-forms-file-drop-area-button {
    border-width: var(--elzo-forms-input-border-width);
    border-color: var(--elzo-forms-input-border-color);
    border-radius: var(--elzo-forms-input-border-radius);
}

.elzo-forms-file-upload-input:focus + .elzo-forms-file-drop-area-button,
.elzo-forms-input-style-without-border .elzo-forms-custom-dropdown.active + .elzo-forms-custom-select-facade,
.elzo-forms-input-style-without-border .elzo-forms-custom-dropdown.active + .elzo-forms-field-control,
.elzo-forms-input-style-without-border .elzo-forms-field-control:focus + .elzo-forms-input-group-pseudo-border,
.elzo-forms-input-style-without-border .elzo-forms-field-control:not(.elzo-forms-field-input-group-input):focus,
.elzo-forms-field-radio:focus + label .elzo-forms-pseudo-radio,
.elzo-forms-field-checkbox:focus + label .elzo-forms-pseudo-checkbox,
.elzo-forms-button:focus,
.elzo-forms-custom-select-facade-item:focus {
    box-shadow: 0 0 0 5px var(--elzo-forms-primary-color-25);
}

.elzo-forms-range-slider input:focus::-moz-range-thumb {
    box-shadow: 0 0 0 5px var(--elzo-forms-primary-color-25);
}

.elzo-forms-range-slider input:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 5px var(--elzo-forms-primary-color-25);
}

.elzo-forms-alert {
    border-left-color: var(--elzo-forms-input-border-color);
}

.elzo-forms-file-drop-area-upload-list-item-progress-bar {
    background-color: var(--elzo-forms-primary-color);
}

.elzo-forms-alert-success {
    border-color: var(--elzo-forms-success-color);
    background-color: var(--elzo-forms-success-color-light);
}

.elzo-forms-alert-error {
    border-color: var(--elzo-forms-error-color);
    background-color: var(--elzo-forms-error-color-light);
}

.elzo-forms-select-wrapper:after {
    border-bottom: var(--elzo-forms-input-border-width-05) solid var(--elzo-forms-input-text-color);
    border-right: var(--elzo-forms-input-border-width-05) solid var(--elzo-forms-input-text-color);
}

.elzo-forms-range-slider,
.elzo-forms-file-drop-area-upload-list-item {
    background-color: var(--elzo-forms-light-color);
}

.elzo-forms-field-checkbox:checked + label .elzo-forms-pseudo-checkbox:before {
    border-color: var(--elzo-forms-primary-text-color);
}

.elzo-forms-checkbox-style-toggler .elzo-forms-field-checkbox:checked + label .elzo-forms-pseudo-checkbox:before,
.elzo-forms-field-radio:checked + label .elzo-forms-pseudo-radio:before {
    background-color: var(--elzo-forms-primary-text-color);
}

.elzo-forms-file-drop-area-style-drag-and-drop {
    border-width: var(--elzo-forms-input-border-width);
}

.elzo-forms-file-drop-area-upload-list-item-remove {
    color: var(--elzo-forms-primary-color);
}

.elzo-forms-modal-content {
    background-color: var(--elzo-forms-floating-background-color);
    color: var(--elzo-forms-floating-text-color);
}

.elzo-forms-custom-dropdown-item:not(:disabled):focus,
.elzo-forms-custom-dropdown-item:not(:disabled):hover {
    background-color: var(--elzo-forms-floating-background-color-hover);
}

.elzo-forms-custom-dropdown-item:not(:disabled).active:hover,
.elzo-forms-custom-dropdown-item:not(:disabled).active:focus {
    background-color: var(--elzo-forms-primary-color-hover);
}

/* Elzo Forms theme end */
